<!-- 放大圖片 Modal 結構 -->
<div id="imgModal" class="img-modal" onclick="closeImageModal()">
    <span class="img-modal-close" onclick="closeImageModal()">×</span>
    <img id="imgModalContent" class="img-modal-content" src="" alt="全圖" />
</div>