<hr />
<div class="row form-group">
  <div class="col-md-12">
    <input type="submit" value="異動存檔" class="btn btn-primary" />
    <a class="btn btn-success"
      href="@Url.Action(ActionService.Index, ActionService.Controller, new { area = ActionService.Area })">
      返回列表
    </a>
  </div>